# Виртуальное окружение
venv/

# Ваши папки

Дел Софт/

# Скомпилированные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Файлы IDE
.idea/
*.iml

# Операционные системы
.DS_Store
Thumbs.db
/Доп Софт/
